{% extends "base.html" %}

{% block header %}
charts for available items
{% endblock %}

{% block content %}
    {% for item in items %}
    <div class="row relative-position">
        <div class="col-xs-3 ">
            <div class="panel panel-default">
              <div class="panel-heading">specs</div>
              <div class="panel-body" id="chart_specs_{{ item }}"></div>
            </div>
        </div>
        <div >
            <h2>{{item}}</h2>
            <div class="col-xs-5">
                <div class="panel panel-default">
                  <div class="panel-heading">quick specs</div>
                  <div class="panel-body" id="chart_quick_specs_{{ item }}"></div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-default">
                  <div class="panel-heading">image</div>
                  <div class="panel-body">
                      <img src="" id="chart_image_{{ item }}">
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">legend</div>
                    <div class="panel-body" id="chart_legend_{{ item }}"></div>
                </div>
            </div>

            <h3>graph</h3>
            <div class="col-xs-9 col-xs-offset-3 set-to-bottom">
                <canvas id="chart_{{ item }}"></canvas>
            </div>
        </div>
    </div>
    <hr class="divider">
    {% endfor %}
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pc.js') }}"></script>
{% endblock %}
